body{
    margin: 0;
    font-family: roboto, sans-serif;
    color: #333;
    background-color: antiquewhite;
    font-size: 16px;

}
.section-main{
    background-color: lawngreen;
    padding-top: 40px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.section-main-logo{
    width: 160px;

}
.section-main-title{  
    margin-top: 40px;
    margin-bottom: 20px;
    color: #333;
    font-family: 'lora', serif;
    font-size: 55px;
    font-weight: 700;

}
.section-main-subtitle{
    margin-bottom: 40px;
    color: #333;
    font-size: 22px;

}
.section-main-button{
    background-color: #8fbc8f;
    border: none;
    border-radius: 25px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
    padding: 12px 30px;
    cursor: pointer;
}
.second-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;

}
.second-section-img{
    width: 500px;
    border: 5px solid #8fbc8f;
}
.second-section-info{
    margin-left: 30px;
    max-width: 600px;
}
.section-sebtitle{
    margin-top: 0;
    margin-bottom: 10px;
    color: #8fbc8f;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}
.section-title{
    margin-top: 0;
    margin-bottom: 40px;
    color: #556b2f;
    font-size: 32px;
    font-weight: bold;
    text-transform: capitalize;
}
.second-section-text{
    margin: 30px;
    color: #666;
    font-size: 18px;

}
.second-section-name{
    color: #556b2f;
    text-transform: capitalize;

}
.second-section-name2{
    color: #8fbc8f;
    font-weight: bold;
    text-transform: uppercase;
}
.third-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5;
    padding-top: 100px;
    padding-bottom: 100px;

}
.third-section-books{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    flex-wrap: wrap;

}
.third-section-book{
     display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 20px;
}
.book-img{
    height: 200px;
}
.book-title{
    margin: 10px;
    margin-bottom: 5px;
    color: #556b2f;
    font-size: 22px;
    font-weight: bold;
}
.book-autor{
    margin: 2px 0;
    color: #666;

}
.book-prise{
    margin: 0;
    color: #8fbc8f;
    font-size: 20px;
    font-weight: bold;
}
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lawngreen;
    padding-top: 100px;
    padding-bottom: 100px;

}
.footer-title{
    cursor: #ffffff;

}
.footer-text{
    width: 600px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
    color: black;
    font-size: 20px;

}
.footer-text-main{
    color: black;

}
.footer-form{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.form-title{
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
}
.form-input{
    width: 400px;
    height: 40px;
    margin-bottom: 10px;
    padding: 0 10px;
    background-color: grey;
    color: #ffffff;
    border: 3px solid #ffffff;
    border-radius: 8px;
}
.footer-button{
    margin-top: 30px;
    padding: 10px 20px;
    background-color: #8fbc8f;
    color: #ffffff;
    font-weight: bold;
    border: none;
    border-radius: 25px;
    cursor: pointer;
}